.posts {
    width: calc(100% + 4rem);
    display: flex;
    align-items: flex-start;
    margin: 0 0 4rem var(--horizontal-negative-padding);
    padding: 2rem 3rem 3.5rem 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}