.social {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;

    > * {
        margin-right: 1.5rem;
    }

    > *:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .social {
        justify-content: flex-start;
    }
}