.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    margin: 0 auto;
    border-bottom: 1px solid var(--color-2-darker);
    background-color: var(--color-2);
    box-shadow: var(--shadow);
    z-index: 99;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        margin-right: 3rem;
        font-size: 1.8rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}